body {
  background-color: black;
}

h1 {
  color: white;
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  text-align: center;
}

  h2 {
    color: aquamarine;
    text-align: center;
}

  h1.travel {
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
}

  p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}

  footer {
    color: white;
    text-align: right;
}

  img {
    text-align: center;
  }

  img.iphone {
    text-align: center;
  }
