body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  text-align: center;
}

  h2,
    a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

  h1.travel {
    font-family: Verdana;
    font-size: 42px;
    font-weight: 300;
}

  p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    text-align: center;
}

  footer {
    color: gray;
    text-align: right;
}

  video {
    text-align: center;
  }
